<div class="glance-box">
  <div class="row">
    <div class="widthBox">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
          <p class="text">{{month | uppercase}}</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
          <p class="date">{{date}}</p>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
          <p class="text">AT-A-GLANCE</p>

        </div>
      </div>


    </div>
<div class="widthBox">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <p class="dateText">
        TOTAL ORDERS
      </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <p class="valueText"></p>
    </div>
  </div>
</div>
<div class="widthBox">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <p class="dateText">
        PLANNED REVENUE
      </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <p class="valueText"></p>
    </div>
  </div>
</div>
<div class="widthBox">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <p class="dateText">
        ACTUAL REVENUE
      </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <p class="valueText"></p>
    </div>
  </div>
</div>
<div class="widthBox">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <p class="dateText">
        YTD COMPARISON
      </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <p class="valueText"></p>
    </div>
  </div>
</div>
<div class="widthBox">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <p class="dateText">
        CONVERSION RATE
      </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <p class="valueText"></p>
    </div>
  </div>
</div>
<div class="widthBox">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <p class="dateText">
        CART ABANDON RATE
      </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <p class="valueText"></p>
    </div>
  </div>
</div>
  </div>
</div>

