<div class="glance-box">
    <div class="row">
        <div class="widthBox">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
<p class="text">{{month | uppercase}}</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
<p class="date">{{date}}</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
<p class="text">AT-A-GLANCE</p>
                </div>
            </div>
            
            
        </div>
    </div>
</div>