.glance-box{
    background-color: #484848;
    width: 100%
}

.date{
    color: red;
    font-size: 30px;
    text-align: center;
        margin-bottom: 0;
        font-weight: 600;
}

.widthBox{
    width: 14.27%
}

.valueText{
    color: green;
    font-size: 28px;
   text-align: center;
    margin-bottom: 0;
    font-weight: 600;
}

.total-orders{
    color: red;
}

.planned-revenue{
    color: #000;
}

.dateText{
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    padding-top: 10px;
}


.text{
color: #ffffff;
font-size: 16px;
text-align: center;
margin-bottom: 0;
}